#navindex1  {
	width:500px;
	margin-right:3px;
	padding-right:10px;
	border:0;

}
#navindex2  {
	width:500px;
	margin-left:3px;
	padding-left:3px;
 	border:0;

}
#navindex3  {
	width:500px;
	margin-right:3px;
	padding-right:10px;	
	border:0;

}
#navindex4  {
	width:500px;
	margin-left:3px;
	padding-left:3px;
	border:0;

}
#navindex4 img {
	padding-top:20px;
	border:0;
	
}
#navindex1 img  {border:0;}
#navindex2 img {border:0;}
#navindex3 img {border:0;}
#navindex4 img {border:0;}

.company {
	font-family: Calibri, Ebrima, Geneva; 
	font-size: 10px;
	color: #717171;	
}

.company a {
		color: #717171;	
		text-decoration:none;
}