
h2 {text-align: left;padding:0 0 0 150px;}
h3{color: #dfa750;}
#figure p {
	float: right;
	width: 150px;
	height: 200px;
	margin: .5em;
	padding: .5em;
	background: #000;
	color: white;
}

.leftmenu img {
	width: 270px;
	padding-top:10px;
}

.patickalogo img {
	padding-top:10px;
	width:1010px;
}

.hornimenu {
	float: right;
}
.hornimenumostright {
	float: right;
}

.headerlogo {
	width: 260px;
	float: left;
	padding-top:37px;
	padding-left:15px;
}
.headerlogo img {
	width: 210px;
	height: 101px;
}

.headerbanner {
	float:right;
	padding: 20px 0px 10px 0;
}

.contacthead {
	font-family: Serif;
	font-size: 12px;
	
}

.contactfoot {
	font-family: Serif;
	font-size: 10px;
	
}

#headercontact {
	float: right;
	text-align: center;
	width: 200px;
}

#new { 
	float: right;
	text-align: center;
	padding: 0px 30px 0px 0px; 
	position: relative;
	right: 50px; 
	top: 0px;
}

#obsahmasle {
	padding-top: 20px;
	margin-top: 100px;
}

.obsahnoleftmenu { 
	width:1010px;
	text-align:center;
	min-height: 400px;
	padding: 31px 0 0 0;
	font-family: Calibri, Ebrima, Geneva; 
	font-size: 12px;
	color: #717171;
	}


.obsah { 
		width:700px;
		text-align:left;
		min-height: 400px;
		padding: 31px 40px 30px 40px;
		font-family: Calibri, Ebrima, Geneva; 
		font-size: 15px;
		color: #544E4F;    /*pøedchozí, hùøe èitelná #717171; */
		}

#contenttop {
	position:absolute;
	width:170px;
	left:212px;
	top:56px;
	min-height:180px;
	z-index:30;
}

#contenttop img {
	position:absolute;
	width:168;
	left:212px;
	top:56px;
	height:177px;
	z-index:30;
}

		
#kamera {
	position: absolute;
	height: 150px;
	width:150px;
	left:500px;
	bottom:0px;
	margin: 0 0 80px 0;
}		
		
#prouzek {
	position: absolute;
	
	
	height: 32px;
	width: 800px;
	left: 240px;
	bottom: 0px;
	margin:0 0 14px 0;
	
}

#navindex1  {
	width:500px;
	margin-right:3px;
	padding-right:10px;
	border:0;

}
#navindex2  {
	width:500px;
	margin-left:3px;
	padding-left:3px;
 	border:0;

}
#navindex3  {
	width:500px;
	margin-right:3px;
	padding-right:10px;	
	border:0;

}
#navindex4  {
	width:500px;
	margin-left:3px;
	padding-left:3px;
	border:0;

}
#navindex4 img {
	padding-top:20px;
	border:0;
	
}
#navindex1 img  {border:0;}
#navindex2 img {border:0;}
#navindex3 img {border:0;}
#navindex4 img {border:0;}

#navigace1 img  {border:0;}
#navigace2 img {border:0;}
#navigace3 img {border:0;}
#navigace4 img {border:0;}

class noborder {
	border:0;
}

.company {
	font-family: Calibri, Ebrima, Geneva; 
	font-size: 10px;
	color: #717171;	
}

.company a {
		color: #717171;	
		text-decoration:none;
}

