body { 
	margin: 0px 0 0 0;
	padding: 0;
 	width: 100%;
	background: #e2e3e3; 
	
	
}

#head-container
{
	color: #000;
	background: #ccc;
	height:184px;
	background-image: url(../img/carbon.jpg);
	
}

#header
{
	margin: 0 auto;
	width: 1010px;
	padding: 0px;
	height:184px;

	border: 0px;
	padding: 0px 0px 0px 0px;
	
	position:relative;
	


}

.noborder2 img {                            /*odkazy v index*/
	border: none; margin: 0 0px 0px 0px;

}
.noborder1 img {									/*logo*/
	border: none; margin: 0 80px 0 0px;
	width: 200px;
}
.noborder img {										/*letak*/
	border: none;
}


#prouzek {
	position: absolute;
	
	top:136px;
	height: 32px;
	width: 800px;
	left: 241px;
		margin:0 0 14px 0;
	
}

.headerlogo {
	width: 260px;
	float: left;
	padding-top:37px;
	padding-left:15px;
}


.headerbanner {
	float:right;
	padding: 20px 0px 10px 0;
}



#header h1 { margin: 0; }

#navigation-container
{
	float: left;
	width: 100%;
	color: #000;
	background: #333;
}

#navigation
{
	margin: 0 auto;
	width: 1010px;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: right;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content-container
{
	float: left;
	width: 100%;
	color: #000;
	background: #e2e3e3;
	height:400;
	
}

#content-container2
{
	margin: 0 auto;
	width: 1010px;
}

#content-container3
{
	float: left;
	width: 1010px;
	height:461px;
	background: #e2e3e3;
}

#content
{
	clear: right;
	float: right;
	width: 740px;
	height:461px;
	overflow: auto;
	font-family: Calibri, Ebrima, Geneva; 
	font-size: 15px;
	color: #544E4F;		/*pøedchozí, hùøe èitelná #717171; */
	background: #e2e3e3;
	z-index: 20;
	

}

#content_noleft
{
	/*position:relative;
	*/
	width: 1010px;
	padding: 61px 0 0 0;	
	margin: 0 20px 0 0px;
	display: inline;
	height:461px;
	overflow: auto;
}

.obsah { 
		text-align:left;
		padding: 28px 40px 30px 40px;
		font-family: Calibri, Ebrima, Geneva; 
		font-size: 14px;
		color: #544E4F;		/*pøedchozí, hùøe èitelná #717171; */
		background: #e2e3e3;
		overflow:auto;
		height:461px;
		}


.obsahnoleftmenu { 
	width:1010px;
	text-align:center;
	min-height: 400px;
	padding: 61px 0 0 0;
	font-family: Calibri, Ebrima, Geneva; 
	font-size: 12px;
	color: #717171;
	background-color:#e2e3e3;
	position:relative;
	}



#contenttop {
	position:absolute;

	top:56px;
	min-height:180px;
	z-index:30;
}

#contenttop img {
	position:absolute;
	width:168;
	left:425px;
	top:79px;
	height:177px;
	z-index:30;
}

#content h2 { margin: 0; }

#aside
{
	float: left;
	width: 270px;
	height:461px;

	
	padding: 6 px;
	
	background-color:#e2e3e3;
	width: 270px;     										  /* SIRKA MENU*/
	
}


#footer-container
{
	clear: left;
	color: #fff;
	background: #000;
	height:110px;
	background-image: url(../img/carbon_foot.jpg);

}

#footer
{
	margin: 0 auto;
	width: 1010px;
	text-align: center;
	padding: 20px;
	height: 110px;
}