
body { 
	margin: 0px 0 0 0;
	padding: 0;
    display:    "vhhw"
                "xccy"
                "kffl"
    * 270px minmax(740px,740px) *;
	width: 100%;
	background: #E9E7E7; 
	
	
	
}

 #header { 
	position: h;
	text-align: left;
	border: 0px;
	margin:0px 0 0 0;
	padding: 0px 0px 0px 0px;
	height: 184px;
	background-image: url(../img/carbon.jpg);
	background-repeat: no-repeat;

	}

	/*
	#jazyk {
			position: absolute;
			right: -10px; 
			top: 10px;
			font-size: 0.7em;
			font-family: Ebrima, Calibri, Geneva; 
			}
			*/
.noborder2 img {                            /*odkazy v index*/
	border: none; margin: 0 0px 0px 0px;

}
.noborder1 img {									/*logo*/
	border: none; margin: 0 80px 0 0px;
	width: 190px;
}
.noborder img {										/*letak*/
	border: none;
}






.banner {
	width: 200px;  

	float:right; 
	margin: 0px 0 0 0px;
	text-align: justify;
	height:100%;
	}




#content { 
	position: c;
	color: black;
	margin: 0px 0px 0 0;
	padding: 0px;
	background-color:#E9E7E7;
	width: 740px;

	z-index: 20;

}
/*
		#letak {text-align: center;width: 644px;float: left; margin:25px 0px 0 0px;
			border-left: 0px dotted #831f7f;
			padding: 0 14px 0 14px;}
		#banner2 {width: 122px;
			border: solid black 0px;float:right;
			margin: 25px 0 0 0;}
*/

#odkazy {
	text-align: center;
	width: 100%;float: left;
	margin:0px 0px 0 0px;
	border-left: 0px dotted #831f7f;
	padding: 0 0px 0 0px;
}











						/*#nav2 li a:active, #nav2 li a:focus {background:#dfd7ca; color:#c00;} zkopceno z 55.radku*/


#footer { 
	position: f; 
	text-align: center;
	background-color:#E9E7E7;
	color:red;
	height:110px;
	background-image: url(../img/carbon.jpg);
	background-repeat: no-repeat;
}



#thumb1 {}



#pmenu{
	position: o;
	padding: 6 px;
	text-align: left;
	background-color:#E9E7E7;
	font-size: 1em;
	width: 270px;     										  /* SIRKA MENU*/
	color: black;
	margin: 0px;
	min-height:400px;
	font-family: Calibri, Ebrima, Geneva; 
	font-size: 15px;
	border-left: 0px dotted #831f7f;
	border-right: 0px dotted #831f7f;

}

#vataheader {
	position:v;
	background-color:#E9E7E7;
	min-height:184px;
	margin:0px 0 0 0;
	background-image: url(../img/carbon_header_left.jpg);

}
#wataheader {
	position:w;
	background-color:#E9E7E7;
	min-height:184px;
	margin:0px 0 0 0;
	background-image: url(../img/carbon_header_right.jpg);

}
#vatabody {
	position:x;
	background-color:#E9E7E7;
	min-height:400px;

}
#watabody {
	position:y;
	background-color:#E9E7E7;
	min-height:400px;
}
#vatafoot {
	position:k;
	background-color:#E9E7E7;
	min-height:110px;
	background-image: url(../img/carbon_foot_left.jpg);
	
	
}
#watafoot {
	position:l;
	background-color:#E9E7E7;
	min-height:110px;
		background-image: url(../img/carbon_foot_right.jpg);
}
			/* Get rid of the margin, padding and bullets in the unordered lists */
