html {height: 100%; font-size: 62.5%;}

body {
   height: 100%;
   text-align: center;
   font: 1.2em Verdana, Arial, Helvetica, sans-serif;
   min-width: 980px;
   margin: 0; padding: 0;
   }

.cleaner {
   clear: both;
   height: 0;
   font-size: 0;
   visibility: hidden;
   }


#hlavicka {
   padding: 10px;
   border-bottom: 1px solid green;
   background: #F0FBDF;
   }

h1 {margin: 0; padding: 0;}
p {line-height: 1.8; margin-bottom: 16px;}


/* =============== Trisloupcovy layout =============== */
#obal {
   width: 980px;
   margin: 50px auto 0 auto;
   text-align: left;
   border: 1px solid green;
   }

#sloupec-levy {
   float: left;
   width: 220px;
   }

#sloupec-prostredni-pravy {
   float: right;
   width: 758px;
   }

#sloupec-prostredni-pravy #sloupec-l {
   float: left;
   width: 536px;
   }

#sloupec-prostredni-pravy #sloupec-p {
   float: right;
   width: 220px;
   }

.obsah {margin: 1em;}
/* =============== Trisloupcovy layout konec =============== */


#paticka {
   padding: 10px;
   border-top: 1px solid green;
   background: #F0FBDF;
   }